---
---

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'dark' }}"; // skin
@import "minimal-mistakes"; // main partials

$font-family-main: 'Lato', Helvetica, Arial, sans-serif;
$font-family-headings: 'Abril Fatface', Georgia, serif, cursive;
// $font-size: 1.0em;


html {
  font-family: $font-family-main;
  font-size: 16px; // change to whatever

  @include breakpoint($medium) {
    font-family: $font-family-headings;
    font-size: 16px; // change to whatever
  }

  @include breakpoint($large) {
      font-family: $font-family-headings;
      font-size: 18px; // change to whatever
  }

  @include breakpoint($x-large) {
    font-family: $font-family-headings;
    font-size: 20px; // change to whatever
  }
}
body {
  font-family: $font-family-main;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-headings;
  line-height: 1.5;
  margin: 0.5em 0;
}
h1 {
  font-size: 2.25em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.75em;
}
h4 {
  font-size: 1.5em;
}

.fa-linkedin {
  color: #62afdf !important;
}

.fa-twitter-square {
  color: #62afdf !important;
}

.fa-researchgate {
  color: #57d739  !important;
}

.fa-github {
  color: $text-color !important;
}

.archive a{
    color: #6db8e3 ;
}

.page__hero--overlay .page__title{
  font-family: $font-family-main;
  color:  #1f618d    !important;
}
.page__hero--overlay .page__lead{
  color:  #1f618d   !important;
}

body.layout--splash .page__title{
      font-size: 3em;
}
body.layout--splash .page__lead{
      font-size: 2em;
}

.sidebar {
  font-family: $font-family-main;
  font-size: 1.1em; // change to whatever
}


.page {
  @include breakpoint($large) {
    float: right;
    width: calc(100% - #{$right-sidebar-width-narrow});
    padding-right: $right-sidebar-width-narrow;
  }

  @include breakpoint($x-large) {
    float: right;
    width: calc(100% - #{$right-sidebar-width});
    padding-right: $right-sidebar-width;
  }

  }

  .page__hero--overlay {
      .wrapper {
        @include breakpoint($x-large) {
          max-width: $max-width;
          }
      }
  }



.archive  ul {
      list-style-type: none;
      text-indent: -2.5em;
  }

// .splash h2.archive__item-title {
//        text-align: center;
// }

body.layout--splash .masthead {
  display: none;
}

body.layout--splash .archive__item{
   text-align: center;
}

button.search__toggle {
  display: none;
}
